<head>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/meanmenu.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/et-line-icon.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<header class="top">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header-top-left">
                        <p>Her hansi sualiniz olsa?  +994 516926941</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="header-area two header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    
                </div>
                
                    <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                </div>
            </div>
        </div>
    </div>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <!-- Footer Start -->
    <footer class="footer-area two ins">
        <div class="main-footer">
            <div class="container">
                <div class="row">
                   
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-widget">
                            <h3>Niye Uniser</h3>
                            <ul>
                                <li><a href="#">Boyuk Aile</a></li>
                                <li><a href="#">mustelif destek</a></li>
                                <li><a href="#">yuksek keyfiyyet</a></li>
                                <li><a href="#">transport support</a></li>
                                <li><a href="#">nice hostel</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-widget">
                            <h3>information</h3>
                            <ul>
                                <li><a href="#">addmission</a></li>
                                <li><a href="#">Calender</a></li>
                                <li><a href="event.html">Event List</a></li>
                                <li><a href="#">Hostel &amp; Dinning</a></li>
                                <li><a href="#">TimeTable</a></li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="copyright text-left">
                            <p class="text-left">Copyright © <a href="#" target="_blank">HasTech</a> 2017. All Right Reserved By Hastech.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="footer-social text-right">
                            <ul>
                                <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
<script src="~/js/site.js"></script>
<script src="~/js/vendor/jquery-1.12.0.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.meanmenu.js"></script>
<script src="~/js/jquery.magnific-popup.js"></script>
<script src="~/js/ajax-mail.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.mb.YTPlayer.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/plugins.js"></script>

<script asp-append-version="true" src="~/js/script.js"></script>
<script asp-append-version="true" src="~/js/main.js"></script>
</html>
